
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Ais.AisFileResults.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AccController.Ais.AisFileResultsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>