{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(localdb)\\MSSqlLocalDB; Initial Catalog=AccController_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "Acc.AisGroup",
                    "Identifier": "Group",
                    "Module": "Ais",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Ais"
                },
                {
                    "Tablename": "Acc.AisUser",
                    "Identifier": "AisUser",
                    "Module": "Ais",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AisUser"
                },
                {
                    "Tablename": "Acc.AisFileResults",
                    "Identifier": "AisFileResults",
                    "Module": "Ais",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AisFileResults"
                },
                {
                    "Tablename": "Acc.AisFiles",
                    "Identifier": "AisFile",
                    "Module": "Ais",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AisFile"
                },
                {
                    "Tablename": "Acc.AisLog",
                    "Identifier": "AisLog",
                    "Module": "Ais",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AisLog"
                },
                {
                    "Tablename": "Acc.AisUserAddOU",
                    "Identifier": "AisAddOU",
                    "Module": "Ais",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AisAddOU"
                },
                {
                    "Tablename": "Acc.AisUserChangeInfo",
                    "Identifier": "AisUserChangeInfo",
                    "Module": "Ais",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AisUser"
                },
                {
                    "Tablename": "Acc.AisUserChangeOU",
                    "Identifier": "AisUserChangeOU",
                    "Module": "Ais",
                    "ConnectionKey": "Default",
                    "PermissionKey": "AisUser"
                },
                {
                    "Tablename": "Acc.EmailChange",
                    "Identifier": "EmailChange",
                    "Module": "Email",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Email"
                },
                {
                    "Tablename": "Acc.EmailFileResults",
                    "Identifier": "FileResult",
                    "Module": "Email",
                    "ConnectionKey": "Default",
                    "PermissionKey": "FileResult"
                },
                {
                    "Tablename": "Acc.EmailFiles",
                    "Identifier": "EmailFile",
                    "Module": "Email",
                    "ConnectionKey": "Default",
                    "PermissionKey": "EmailFile"
                },
                {
                    "Tablename": "Acc.EmailGroup",
                    "Identifier": "EmailGroup",
                    "Module": "Email",
                    "ConnectionKey": "Default",
                    "PermissionKey": "EmailGroup"
                },
                {
                    "Tablename": "Acc.EmailGroupAccounts",
                    "Identifier": "EmailGroupAccount",
                    "Module": "Email",
                    "ConnectionKey": "Default",
                    "PermissionKey": "GroupAccount"
                },
                {
                    "Tablename": "Acc.EmailLog",
                    "Identifier": "EmailLog",
                    "Module": "Email",
                    "ConnectionKey": "Default",
                    "PermissionKey": "EmailLog"
                },
                {
                    "Tablename": "Acc.EmailNew",
                    "Identifier": "EmailNew",
                    "Module": "Email",
                    "ConnectionKey": "Default",
                    "PermissionKey": "EmailNew"
                },
                {
                    "Tablename": "Acc.EmailUpdateInfo",
                    "Identifier": "EmailUpdateInfo",
                    "Module": "Email",
                    "ConnectionKey": "Default",
                    "PermissionKey": "EmailUpdateInfo"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "WebProjectFile": "..\\..\\..\\AccController\\AccController.Web\\AccController.Web.csproj",
    "ScriptProjectFile": "..\\..\\..\\AccController\\AccController.Script\\AccController.Script.csproj",
    "RootNamespace": "AccController",
    "BaseRowClasses": [],
    "RemoveForeignFields": []
}