
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Email.EmailNew.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AccController.Email.EmailNewGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>